@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&family=Oswald:wght@300&family=Poppins:ital,wght@0,300;0,400;1,100&family=Raleway:ital,wght@0,500;1,700&family=Roboto:ital,wght@0,100;1,100&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #ABD774;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.50;
}

.banner .content
{
    position: relative;
    bottom: 7%;
    max-width: 750px;
    text-align: center;
    left: 7%;
}
.banner .content h2
{
    color: #fff;
    font-size: 60px;
}
.banner .content p
{
    color: #fff;
    font-size: 18px;
}
.banner header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.banner header .logo
{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.banner header .toggle
{
    position: relative;
    width: 36px;
    height: 28px;
}
nav{
    max-width: 100%;
    position: relative;
    display: flex;
    background-color: transparent;
    text-align: center;
    display: flex;
    margin: 10px;	
    padding:20px;
    border-radius: .5em;
    }
nav a{
    background-color: #fff;
    margin: 5px;
    text-decoration:none;
    color: black;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
#navbarNavDropdown {
    position: relative;
    top: 20%;
    left: 10%;
    background-color: transparent;
    
}
#navbarNavDropdown a {
    color: #fff;
    background: transparent;
}

.nav-item a{
    text-decoration:none;
    color:#000000;
}
.nav-item:hover{
    border: 2px solid #fff;
    border-radius:.5em;
    
}
.nav-item:hover a{
    color:black;
    
}
.principal {
    width: 100%;
}
    
   
  
#sec-1
{
    position: relative;
    width: 100%;
    display: flex;
}
#sec-1 .contentBx
{
    background: #F24150;    
    padding: 100px;
    width: 50%;
}
#sec-1 .heading 
{
    color: #333;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p
{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
#sec-1 .imgBx
{
    background: url(/img/vaca1.JPG);
    width: 50%;
    background-size: cover;
    background-position: center;
}

#sec-2
{
    position: relative;
    width: 100%;
    display: flex;
}
#sec-2 .contentBx
{
    background: #F24150;    
    padding: 100px;
    width: 50%;
}
#sec-2 .heading 
{
    color: #333;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p
{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
#sec-2 .imgBx
{
    background: url(/img/vaca1.JPG);
    width: 50%;
    background-size: cover;
    background-position: center;
}

#sec-3
{
    position: relative;
    width: 100%;
    display: flex;
}
#sec-3 .contentBx
{
    background: #F24150;    
    padding: 100px;
    width: 50%;
}
#sec-3 .heading 
{
    color: #333;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p
{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
#sec-3 .imgBx
{
    background: url(/img/vaca1.JPG);
    width: 50%;
    background-size: cover;
    background-position: center;
}

#sec-4
{
    position: relative;
    width: 100%;
    display: flex;
}
#sec-4 .contentBx
{
    background: #F24150;    
    padding: 100px;
    width: 50%;
}
#sec-4 .heading 
{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p
{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
#sec-4 .imgBx
{
    background: url(/img/vaca1.JPG);
    width: 50%;
    background-size: cover;
    background-position: center;
}

#sec-5
{
    position: relative;
    width: 100%;
    display: flex;
}
#sec-5 .contentBx
{
    background: #F24150;    
    padding: 100px;
    width: 50%;
}
#sec-5 .heading 
{
    color: #333;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p
{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
#sec-5 .imgBx
{
    background: url(/img/vaca1.JPG);
    width: 50%;
    background-size: cover;
    background-position: center;
}

#sec-6
{
    position: relative;
    width: 100%;
    display: flex;
}
#sec-6 .contentBx
{
    background: #F24150;    
    padding: 100px;
    width: 50%;
}
#sec-6 .heading 
{
    color: #333;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p
{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
#sec-6 .imgBx
{
    background: url(/img/vaca1.JPG);
    width: 50%;
    background-size: cover;
    background-position: center;
}









.scroll {
    position: relative;
    left: -28%;
    top: 15%;
    width: 170px;
    border: 1px solid;
    border-radius: 10px;
}
.scroll:hover
{
    background-color: #fff;
    color: #333;
}
.scroll a {
    color: #333;
    text-decoration: none;
    text-align: center;
}


/*FOOTER*/

#pie h2{
    font-size: 20px;
}
#sec {
    max-width: 100%;
    height: 340px;
    background-color: #ABD774;
    margin-top: 100px;
}
#pie {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -60px;
    width: 730px;
    height: 320px;
    background-color: #fff;
    border-radius: 15px;
    filter: drop-shadow(5px 10px 15px rgba(6, 34, 41, 0.849));
}
.redes img{
    width: 40px;
    height: 40px;
}
.container .text img {
    position: relative;
    margin-left: 250px;
    border-radius: 20px;
    
}

@media screen and (max-width: 763px) {
    #sec {
        max-width: 100%;
    }
    #pie {
        position: relative;
        width: 680px;
        height: 320px;
    }
    .datos {
        position: relative;
        top: -60px;
        margin-left: 25px;
        font-family: 'Poppins', sans-serif;
    }
    #pie .datos h1 {
        font-size: 25px;
    }
    #pie .datos p {
        font-size: 15px;
    
    }
    .redes img{
        width: 40px;
        height: 40px;
    }
    .foo_img {
        position: relative;
        margin-left: 90%;
        top: 20px;
        width: 70px;
        height: 70px;
    }
    .redes  {
        position: relative;
        display: flex;
        justify-content: end;
        top: -50px;
        margin: 20px;
    }
    .redes a {
        position: relative;
        top: -35px;
    }

  
  }

@media screen and (max-width: 700px) {
    #sec {
        max-width: 100%;
    }
    #pie {
        position: relative;
        width: 580px;
        height: 320px;
    }
    .foo_img {
        position: relative;
        margin-left: 90%;
        top: 20px;
        width: 70px;
        height: 70px;
    }
    .datos {
        position: relative;
        top: -60px;
        margin-left: 25px;
        font-family: 'Poppins', sans-serif;
    }
    #pie .datos h1 {
        font-size: 20px;
    }
    #pie .datos p {
        font-size: 15px;
    
    }
    .redes img{
        width: 40px;
        height: 40px;
    }
    .redes  {
        position: relative;
        display: flex;
        justify-content: end;
        top: -50px;
        margin: 20px;
        
    }
    .redes a {
        position: relative;
        top: -40px;
        left: -5%;
    }
     #pie img {
        position: relative;
        margin-left: 85%;
        top: 20px;

    }

  
  }
  @media screen and (max-width: 620px) {
    #sec {
        max-width: 100%;
    }
    #pie {
        position: relative;
        width: 480px;
        height: 320px;
    }
    .foo_img {
        position: relative;
        margin-left: 90%;
        top: 20px;
        width: 70px;
        height: 70px;
    }
    .datos {
        position: relative;
        top: -60px;
        margin-left: 25px;
        font-family: 'Poppins', sans-serif;
    }
    #pie .datos h1 {
        font-size: 20px;
    }
    #pie .datos p {
        font-size: 15px;
    
    }
    .redes img{
        width: 40px;
        height: 40px;
    }
    .redes  {
        position: relative;
        display: flex;
        justify-content: end;
        top: -50px;
        margin: 20px;
        
    }
    .redes a {
        position: relative;
        top: -60px;
        left: -5%;
    }
     #pie img {
        position: relative;
        margin-left: 80%;
        top: 20px;

    }

  
  }
  @media screen and (max-width: 500px) {
    #sec {
        max-width: 100%;
    }
    #pie {
        position: relative;
        width: 380px;
        height: 320px;
    }
    .foo_img {
        position: relative;
        margin-left: 90%;
        top: 20px;
        width: 70px;
        height: 70px;
    }
    .datos {
        position: relative;
        top: -60px;
        margin-left: 25px;
        font-family: 'Poppins', sans-serif;
    }
    #pie .datos h1 {
        font-size: 10px;
    }
    #pie .datos p {
        font-size: 13px;
    
    }
    .redes img{
        width: 40px;
        height: 40px;
    }
    .redes  {
        position: relative;
        display: flex;
        justify-content: end;
        top: -50px;
        margin: 20px;
        
        
    }
    .redes a {
        position: relative;
        top: -50px;
        left: -1%;
    }
     #pie img {
        position: relative;
        margin-left: 7%;
        top: 80%;
        width: 50px;
        height: 50px;


    }

  
  }
  @media screen and (max-width: 424px) {
    #sec {
        max-width: 100%;
    }
    #pie {
        position: relative;
        width: 380px;
        height: 320px;
    }
    .foo_img {
        position: relative;
        margin-left: 90%;
        top: 20px;
        width: 70px;
        height: 70px;
    }
    .datos {
        position: relative;
        top: -60px;
        margin-left: 25px;
        font-family: 'Poppins', sans-serif;
    }
    #pie .datos h1 {
        font-size: 14px;
    }
    #pie .datos p {
        font-size: 13px;
    
    }
    .redes img{
        width: 40px;
        height: 40px;
    }
    .redes  {
        position: relative;
        display: flex;
        justify-content: end;
        top: -50px;
        margin: 20px;
        
    }
    .redes a {
        position: relative;
        top: -30px;
        left: -1%;
    }
     #pie img {
        position: relative;
        margin-left: 7%;
        top: 75%;


    }

  
  }




.foo_img {
    position: relative;
    margin-left: 90%;
    top: 20px;
    width: 70px;
    height: 70px;
}
.datos {
    position: relative;
    top: -60px;
    margin-left: 25px;
    font-family: 'Poppins', sans-serif;
}
.datos h1 {
    font-size: 28px;
}
.datos p {
    font-size: 15px;

}
.redes {
    position: relative;
    display: flex;
    justify-content: end;
    top: -50px;
    margin: 20px;

}


.container .card {
    width: 100px;
    background-color: #ABD774;
    border-radius: 30px;
    position: relative;
    left: 5%;
    margin: 10px;    
}

.container .card img{
    position: relative;
    left: 30%;
    align-items: center;    
}


